<div class = 'main'>
  <h1 class="header">Todo List</h1>

  <div class="form-container">
    <input class="form-input" type="text" value={{formValue}} (keyup) = 'updateFormValue($event)' placeholder="Things you want to add">
    <button (click) = 'add(formValue)' class="add btn">Add</button>
  </div>


  <div class="item-container" *ngFor = 'let item of taskList; index as i'>

    <div class="item">
      <input type="checkbox" (click) = 'check(i)' [checked] = 'item.isCompleted'>

      <span *ngIf="i !== editTarget" [class.completed] = 'item.isCompleted' class="task-view">{{item.task}}</span>
      <input class="task-input" *ngIf="i === editTarget" type="text" value={{item.task}} (keyup) = "updateTask($event)">

      <button class="edit btn" (click) = "edit(i)">Edit</button>
      <button class="del btn" (click) = "delete(i)">Delete</button>
    </div>
    
  </div>

  <button class="clear btn" (click) = "clear()">Clear completed</button>

</div>
